/* * is used for universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem; 
} /* 1rem = 16px*/

header {
    background-color: pink;
}

.container {
    width: 90%;
    margin: auto;
}

.header-container {
    padding: 1.5rem 0;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0 0.5rem;
} /* anchor elements by default do not inherit from the parent, however if we add this value it will */




/* this is a media query which will change my styles when the viewport is 700px or more */
@media(min-width: 700px){
    h1{
        color: red;
    }
    .header-container {
        text-align: left;
        display: flex;
        align-items: baseline;
    }
}